*{
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
}

.sidebar{
    background-color: #ffffff;
    width: max-content;
    border-radius: 10px;
    padding: 2rem 1rem;
}

.sidebar:hover .sidebar_element{
    grid-template-columns: 50px 1fr;
}

.sidebar_list{
    list-style: none;
    padding: 0;
    
    min-height: 600px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.sidebar_element{
    padding: 1.9rem 1.3rem;
    border-radius: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 80px 0fr;
    color: black;

    transition: grid-template-columns .4s;
}

.sidebar_element:hover{
    background-color: black;
    color: white;
}

.sidebar_content--logo{
    position: relative;
    margin: 0 auto  0;
    margin-bottom: 1rem;
}

.sidebar_icon--logo{
    display: flex;
    height: auto;
    width: 130px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sidebar_icon--logo .reveal{
    opacity: 1;
    z-index: 1;
}

.sidebar_content--logo .hide {
    opacity: 0;
    z-index: 2;
}

.sidebar_icon--logo.hide{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar:hover .sidebar_icon--logo.reveal {
    opacity: 0;
}

.sidebar:hover .sidebar_icon--logo.hide {
  opacity: 1;
}

.sidebar_logo{
    font-size: 50px;
    margin: auto;
}

.sidebar_hide{
    overflow: hidden;
}